<!-- create.html -->

{% extends 'base.html' %}

{% block main %}
    <h2> Editar Pregunta {{ id }} </h2>

    <form method='post'>

            <b>Pregunta</b> 
            <br>
            <label for="question"><small>Pregunta actual: {{ question }}</small></label>
            <br>
            <input id="question" type="text" name="question"><br>
            
            <br>
            <b>Respuesta</b> 
            <br>
            <label for="answer"><small>Respuesta actual: {{ answer }}</small></label>
            <br>
            <input type="text" name="answer"><br>
            
            <br>
            <input type="submit" name="submit" value="Enviar">
            <input type="reset" name="reset" value="Borrar"><br>
    </form>

{% endblock %}