<!-- create.html -->

{% extends 'base.html' %}

{% block main %}
    <h2> Editar Pregunta {{ id }} </h2>

<div class="container col-6">    
    <form method='post'>
            
        <label for="question" class="form-label">
            <h3>Pregunta</h3>
            <small>Pregunta actual: {{ question }}</small>
        </label>
        <br>
        <input id="question" class="form-control" type="text" name="question">
        <br>
        <label for="answer" class="form-label">
            <h3>Respuesta</h3>
            <small>Respuesta actual: {{ answer }}</small>
        </label>
        <input class="form-control" type="text" name="answer"><br>
        
        <div class="d-flex justify-content-end">
            <input type="submit" class="d-inline-block btn btn-primary mr-2 px-3" name="submit" value="Enviar">
            <input type="reset" class="d-inline-block btn btn-danger ml-0 px-3" name="reset" value="Borrar"><br>
        </div>
    </form>
</div>
{% endblock %}