<!-- index.html -->

{% extends 'base.html' %}
{% block main %}
    <div class="container-fluid text-center col">
        <div class="my-3"></div>
        <div class="row justify-content-around">
            <div class="col-5">
                <h2>Crear Pregunta</h2>
                <p><a class="btn btn-primary" href="{{url_for('create')}}">Crear Pregunta</a></p>
            </div>
            <div class="col-5">
                <h2>Ver Preguntas</h2>
                <p><a class="btn btn-primary" href="{{url_for('questions')}}">Ver todas las Preguntas</a></p>
            </div>
        </div>
        <div class="my-3"></div>
        
        <h2>Contestar Preguntas</h2>
        <div class="container border">
            {% if not questions %}
                <p class="text-center bg bg-info p-2">Todavía no hay preguntas para contestar</p>
            {% else %}
            {% for i in range(1,22) %}
                <div class="m-3 d-inline-block col-3">
                    <a href="{{url_for('question', id=questions[i][0])}}">
                        <span class="bg bg-info text-light p-2 rounded">Contestar Pregunta #{{ questions[i][0] }}</span>
                    </a>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    
{% endblock %}