<!-- test_index.html -->

{% extends 'base.html' %}
{% block main %}
    <div class="container text-center col-6">
        <h1>App de Preguntas</h1>
        <div class="my-5"></div>
        <h2>Crear Pregunta</h2>
        <p><a class="btn btn-primary" href="{{url_for('create')}}">Crear Pregunta</a></p>
        
        <h2>Ver Preguntas</h2>
        <p><a class="btn btn-primary" href="{{url_for('questions')}}">Ver todas las Preguntas</a></p>
        
        <h2>Contestar Preguntas</h2>
        {% if not questions %}
            <p class="text-center bg bg-info p-2">Todavía no hay preguntas para contestar</p>
        {% endif %}
        {% for question in questions %}
        <ul style="list-style-type: none; padding-left:0;">
            <li class="mb-4">
                <a href="{{url_for('question', id=question[0])}}"><span class="bg bg-info text-light p-2 rounded">Contestar Pregunta #{{ question[0] }}</span></a>
            </li>
        </ul>
        {% endfor %}
    </div>
    
{% endblock %}