<!-- question.html -->

{% extends 'base.html' %}

{% block main %}
    <h2>Preguntas</h2>
    <table class="table table-warning table-hover">
        <tr class="table-dark text-dark text-center bold">
            <th>#</th>
            <th>Pregunta</th>
            <th>Responder</th>
            <th colspan="2">Opciones</th>
        </tr>
        {% for question in questions %}
        <tr class="text-center">
            <td>{{ question[0] }}</td>
            <td>{{ question[1] }}</td>
            <td>
                <a href="{{url_for('question', id=question[0])}}">Responder #{{ question[0] }}</a>
            </td>
            <td>
                <a href="{{url_for('edit', id=question[0])}}" style="border: 1px solid black; color: black; padding: 0 10px; border-radius: 10px;"><img width=10 src="{{ url_for('static', filename='/img/iconos/pencil.png') }}" alt="editar"> Editar #{{ question[0] }}</a>
            </td>
            <td>
                <a href="{{url_for('delete', id=question[0])}}" style="border: 1px solid black; color: black; padding: 0 10px; border-radius: 10px;"><img width=10 src="{{ url_for('static', filename='/img/iconos/bin.png') }}" alt="borrar"> Borrar #{{ question[0] }} </a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}